/* 
    Document   : 4forms
    Created on : 17-05-2013, 10:04:36 AM
    Author     : z1174697
    Description:
        Purpose of the stylesheet follows.
*/

@import 'bluedbd.css';
@import 'datatable.css';
@import 'datepickr.css';
@import 'mainmenu.css';
@import 'tabs.css';
@import 'menuhint.css';

